/* Id selector */
#firstPara{
    color: red;
}
/* class selector */
.bgBlue{
    background-color: blue;
}
.bgBlue{
    color: yellow;
}
/* grouping selector */
footer, span{
    background-color:  pink;
}
/* element selector */
p{
    border: 2px solid red;
}
