doctype html 
html 
    head 
        title Radhe Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar.top 
            ul
                div#logo 
                    img(src="/static/img/logo.png")
                    | HDA
                li #[a(href='/') Home ]
                li #[a(href='/') About ]
                li #[a(href='/') Services ]
                li #[a(href='/') Class info]
                li #[a(href='/') Contact Us ]
        block content 
            | this is conact
        footer#footer 
            | CopyWrite © 2019 RadheDanceAcademy.com
        script 
            include ../static/index.js 
